.about-us {
    display: flex;
    gap: 2rem;
}

.about-img {
    border-radius: 10px;
    margin: auto;
    width: 100%;
    max-width: 550px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.about-content {
    padding: 2rem 0;
}

.about-heading {
    font-weight: bolder;
    margin-bottom: 1rem;
}

.about-brief {
    margin-bottom: 1rem;
    line-height: 24px;
}

.about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.stat-heading {
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 1.8rem;
}

.stat-brief {
    color: var(--dark-color);
    font-size: .8rem;
    padding-top: 5px;
}

@media screen and  (max-width: 968px) {
    .about-img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .about-us {
        flex-direction: column;
    }
    
    .about-content {
        padding: 0;

    }
}
