#feature {
    position: relative;
    margin-top: 10rem;
}

.feature {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-items: center;
}

.feature-box {
    display: flex;
    height: 7rem;
    align-items: center;
    text-align: initial;
    justify-content: space-around;
}

.feature-brief {
    color: #6366F1;
    text-transform: uppercase;
    font-weight: 700;
}

@media screen and (max-width: 968px) {
    
    .feature {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .feature-box {
        height: auto;
    }

    .feature {
        grid-template-columns: 1fr;
    }
}