#footer {
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background: var(--primary-color);
    padding: 2rem 0;
    color: var(--white-color);
}

#footer a {
    color: var(--white-color);
}

.links {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 2rem;
}

.useful-links h3,
.billing-links h3,
.social-links h3 {
    margin-bottom: 1rem;
}

.useful-links li,
.billing-links li {
    margin-bottom: .5rem;
}

.useful-links li a,
.billing-links li a {
    padding-bottom: .5rem;
    transition: 0.3s;
}

.useful-links li a:hover,
.billing-links li a:hover {
    padding-left: .5rem;
}

.social-links > div {
    display: flex;
    gap: 1rem;
}

.bottom-footer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bottom-footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-copyright span {
    color: #FF0000;
}

.footer-copyright a {
    font-weight: 600;
}

.payments  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.payments img {
    width: 90px;
    height: 100%;
}