.works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-items: center;
    /* grid-gap: 2rem; */
}

.works-heading {
    padding: .5rem 0;
}

.works-brief {
    color: #333;
    line-height: 24px;
}

.works .svg-icon {
    border-radius: 50% !important;
    height: 60px !important;
    width: 60px !important;
    padding: .9rem !important;
}

@media screen and (max-width: 968px) {
    
    .works {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    
    .works {
        grid-template-columns: 1fr;
    }
}



