.our-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    text-align: initial;
}

.team {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 1rem;
    border-radius: 10px;
}

.team-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.team-heading {
    margin-bottom: .3rem;
    font-weight: 500;
}

.team-brief {
    color: var(--primary-color);
    font-weight: 700;
}

.team-slideshow {
    position: relative;
    text-align: center;
}

.prev,
.next {
    cursor: pointer;
    display: inline-block;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 17px;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: all ease-in-out .2s;
}

.prev:active,
.next:active {
    color: var(--white-color);
    background: var(--primary-color);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

@media screen and (max-width: 968px) {
    .our-team {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .our-team {
        grid-template-columns: 1fr;
    }
}


