@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(navbar.css);
@import url(carousel.css);
@import url(services.css);
@import url(about-us.css);
@import url(how-it-works.css);
@import url(our-team.css);
@import url(testimonials.css);
@import url(faq.css);
@import url(feature.css);
@import url(contact-us.css);
@import url(gallery.css);
@import url(footer.css);

:root {
    --primary-color: #6366F1;
    --secondary-color: #4E50BE;
    --white-color: #fff;
    --dark-color: #333;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* scroll-behavior: smooth; */
}


/* Utility Classes */
.container-fluid {
    margin: auto;
    padding: 0 1rem;
}

.container {
    padding: 1rem;
    margin: auto;
    max-width: 1100px;
}

#services,
#about-us,
#how-it-works,
#our-team,
#testimonial,
#faq,
#feature,
#contact-us,
#gallery {
    margin: 2rem auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

.heading {
    text-align: center;
    margin-bottom: 2.5rem;
}

.heading .l-heading {
    color: var(--primary-color);
    font-weight: bold;
    padding: 1rem 0;
    text-transform: uppercase;
}

.heading .l-brief {
    color: gray;
}

.svg-icon {
    background: var(--primary-color);
    fill: var(--white-color);
    height: 55px;
    width: 55px;
    padding: 10px;
    border-radius: 10px;
}

.read-more {
    text-align: right;
    margin-top: 2rem;
}

.read-more a {
    background: var(--primary-color);
    font-size: .8rem;
    padding: 8.5px;
    border-radius: 5px;
    color: var(--white-color);
}

.read-more a:hover {
    background: var(--secondary-color);
}

.box-fluid,
.box {
    background: var(--white-color);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}

.box-fluid {
    border-radius: 0;
}

.box-fluid:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box-fluid:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 968px) {
    .box-fluid:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .box-fluid:nth-child(2) {
        border-top-right-radius: 10px;
    }

    .box-fluid:nth-child(3) {
        border-bottom-left-radius: 10px;
    }

    .box-fluid:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
    }
}

@media screen and (max-width: 500px) {
    .box-fluid:first-child {
        border-top-right-radius: 10px;
    }

    .box-fluid:nth-child(2) {
        border-top-right-radius: 0px;
    }

    .box-fluid:nth-child(3) {
        border-bottom-left-radius: 0px;
    }

    .box-fluid:last-child {
        border-bottom-left-radius: 10px;
    }
    
}

@media screen and (max-width: 350px) {

    p,
    a {
        font-size: 0.9rem !important;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3,
    h4 {
        font-size: 1rem !important;
    }

}