.testimonial {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px !important;
    min-height: 500px;
    text-align: center;
    filter: blur(2px);
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-slide img {
    width: 130px;
    border-radius: 50%;
}

.checked {
    color: var(--primary-color);
}

.testimonaial-heading {
    padding: 1rem 0;
}

.testimonaial-heading h3 {
    margin-bottom: .5rem;
}

.testimonial-rating {
    margin-bottom: 1rem;
}

.testimonial-review {
    font-weight: 500;
    color: var(--dark-color);
    line-height: 2rem;
}

.swiper-wrapper {
    margin-bottom: 2rem;
}